@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    colegio la llamarada<br />
    Bogota D.C<br />
    <abbr title="Phone">telefono:</abbr>
    756423197
</address>

<address>
    <strong>Support:</strong>   <a href="colellamarada:Support@example.com">colellamarada@example.com</a><br />
    <strong>Marketing:</strong> <a href="colellamarada:Marketing@example.com">colellamarada@example.com</a>
</address>